.card {
  align-items: center;
  padding-top: 10px;
}

.card-img-top {
  width: 30%;
}

.card.text-center {
  display: flex;
  flex-direction: row;
  padding-left: 45px;
  margin-left: 33px;
}

.sp {
  border: none;
}
