html {
  overflow: scroll;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 0px;
}

::-webkit-scrollbar-thumb {
  background: #ff0000;
}

.centerCard {
  align-items: center;
}
.d-flex {
  display: flex !important;
  justify-content: flex-end;
}

.sp1 {
  width: 30%;
}

.sp2 {
  width: 33%;
  text-align: center;
  margin-top: 2%;
  margin-left: 35%;
}

#show-more {
  display: none;
}
